body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 1.2px;
}

th {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
}

td.icon {
    padding-top: 0;
}

.out_links.current {
    background-color: #CCCCFF;
}

.language-switcher {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
}

.language-switcher a {
    text-decoration: none;
    color: #333;
    padding: 2px 5px;
}

.language-switcher a.active {
    font-weight: bold;
    color: #000;
}

.side-image {
    margin: 0 6px 0 4px;
    padding: 0;
}

.sb-head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #FFFFFF;
}

.sb-head h1 {
    font-size: 24px;
    margin: 0;
    display: block;
}

.sb-head form {
    border: 1px solid #BBB;
    border-radius: 5px;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 2px;
    display: inline-block;
    min-width: 500px;
    background-color: #EAF0FF;
}

.sb-head form label {
    cursor: pointer;
}

.sb-head form .addressbar {
    margin: 12px 0 2px 0;
}